{% extends "base.html" %}

{% block include %}
<link rel="stylesheet" href="{{url_for('static',filename = 'styles/home.css')}}">
<!--<script type="text/javascript" src="script.js"></script>
<script src="http://code.jquery.com/jquery-latest.min.js"></script>-->
{% endblock %}

{% block content %}
<div class="title">
  <div>
    <h1>Frozen Data</h1>
    <h3>Bringing data science to blockchain</h3>
  </div>
</div>
<div class="content">
  <div class="dark">
    <div>
      <h1 class="normal">The Mission</h1>
      <p class="normal">
        Frozen data can provide valuable insights into markets, customers, and competitors, which can be used to inform a
        variety of business decisions. By analyzing historical data, businesses can better understand market trends and
        consumer behavior, which can help them make more informed decisions about where to allocate resources, how to
        position themselves in the market, and how to tailor their products and services to meet the needs of their
        customers.
      </p>
      <img src="{{url_for('static',filename = 'images/graph_animation.gif')}}" alt="">
      <p class="normal">
        This, in turn, can help with customer retention and overall business growth. Frozen data can also be used to gain
        a deeper understanding of the competitive landscape, which can help businesses stay ahead of the curve and make
        strategic decisions that give them a competitive advantage.
      </p>
    </div>
  </div>
  <div class="light">
    <div>
      <h1 class="normal">Our products</h1>
      <h2 class="normal lined">New transaction prediction</h2>
      <p class="normal">
        After creating our graph representation of the transactions we want to use graph neural networks to predict
        where
        new transactions will appear. This can highlight your potential new customers and signal when the existing ones
        are
        most likely to make another transaction.
      </p>
      <h2 class="normal lined">Digital goods analysis</h2>
      <p class="normal">
        By analysing the digital goods in possession of your customers you can get more insight into what type of
        products
        they might be willing to buy next.
      </p>
      <h2 class="normal lined">leaver detection</h2>
      <p class="normal">
        By analysing the digital goods in possession of your customers you can get more insight into what type of
        products
        they might be willing to buy next.
      </p>
      <h2 class="normal lined">future revenue estimation</h2>
      <p class="normal">
        By analysing the digital goods in possession of your customers you can get more insight into what type of
        products
        they might be willing to buy next.
      </p>
      <h2 class="normal lined">revenue streams discovery</h2>
      <p class="normal">
        By analysing the digital goods in possession of your customers you can get more insight into what type of
        products
        they might be willing to buy next.
      </p>
    </div>
  </div>
  <div class="dark">
    <div style="max-width: 160ch; width: 100%;">
      <h1 class="normal">Meet the team</h1>
      <div class="team">
        <img src="{{url_for('static',filename = 'images/michal.png')}}">
        <span class="name">Michał Mgeladze-Arciuch</span>
        <span class="role">Co-founder & lead data scientist</span>
        <img src="{{url_for('static',filename = 'images/daniel.jpg')}}">
        <span class="name">Daniel Vlasits</span>
        <span class="role">Co-founder & Binson Bots CEO</span>
        <img src="{{url_for('static',filename = 'images/jan.png')}}">
        <span class="name">Jan Oboril</span>
        <span class="role">The Sleeping Beauty</span>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block parallax %}
<div class="parallax">
  <img class="graph1" src="{{url_for('static',filename = 'images/graphs/final_graph1.svg')}}" alt="">
  <img class="graph2" src="{{url_for('static',filename = 'images/graphs/final_graph2.svg')}}" alt="">
  <img class="graph3" src="{{url_for('static',filename = 'images/graphs/final_graph3.svg')}}" alt="">
  <img class="graph4" src="{{url_for('static',filename = 'images/graphs/final_graph4.svg')}}" alt="">
</div>
{% endblock %}