$dark: #253145;
$blue: #35a2cb;
$red: #ff4754;
$green: #51cb20;
$mobile-width: 823px;

* {
  font-family: 'Trebuchet MS', sans-serif;
  box-sizing: border-box;
  color: $dark;
  margin: 0;
  padding: 0;
}

