@import 'base.scss';

div.body {
  perspective: 10px;
  background-color: $blue;
}

div.parallax {
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  transform-style: preserve-3d;

  img {
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    left: 0;
    top: 0;
    object-fit: cover;
  }

  img.graph1 {
    transform: translateZ(-10px) scale(2.1);
  }

  img.graph2 {
    transform: translateZ(-5px) scale(1.6);
  }

  img.graph3 {
    transform: translateZ(-15px) scale(2.6);
  }

  img.graph4 {
    transform: translateZ(0) scale(1);
  }
}

div.main {
  position: relative;

  div.title {
    width: 100%;
    height: calc(100vh - 6rem);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-items: stretch;

    div {
      background-image: url("/static/images/world_background.png");
      background-size: cover;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 2rem;
      gap: 2rem;

      h1,
      h3 {
        text-align: center;
      }

      h1 {
        @media (max-width: $mobile-width) {
          font-size: 6rem;
        }
        font-size: 8rem;
        color: $blue;
      }

      h3 {
        text-transform: uppercase;
        color: white;
      }
    }
  }

  div.content {

    div.light {
      background-color: $blue;
      * {
        color: $dark;
      }
    }
    div.dark {
      background-color: $dark;
    }

    &>div {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: center;
    }

    &>div>div {
      max-width: 80ch;
      display: flex;
      align-items: center;
      flex-direction: column;


      margin: 6rem 0;
      padding: 0 4rem;
      @media (min-width: $mobile-width) {
        margin: 6rem 4rem;
        padding: 0;
      }

      overflow: hidden;

      @media (max-width: $mobile-width) {
        h2 {
          width: 100%;
          &::before {
            left: -101rem;
          }
          &::after {
            right: -101rem;
          }
        }
      }

      h1 {
        margin: 0;
        margin-bottom: 3rem;
      }

      p {
        margin-top: 1rem;
        margin-bottom: 3rem;
        max-width: 80ch;
      }

      img {
        max-height: 20rem;
        max-width: 100%;
        margin-top: 1rem;
        margin-bottom: 3rem;
      }

      div.team {
        width: 100%;
        display: grid;

        @media (min-width: $mobile-width) {
          grid-auto-flow: column;
          grid-template-columns: 1fr 1fr 1fr;
          grid-template-rows: auto auto auto;
        }

        grid-auto-flow: row;

        justify-content: space-evenly;
        justify-items: center;
        column-gap: 2rem;
        row-gap: 0.5rem;

        width: 100%;
        max-width: 120ch;

        img {
          max-height: 20rem;
          margin: 0;
          margin-bottom: 1rem;
        }

        span {
          text-align: center;
        }

        span.name {
          text-transform: uppercase;
          color: white;
        }

        span.role {
          text-transform: capitalize;
          color: $blue;

          @media (max-width: $mobile-width) {
            margin-bottom: 2rem;
          }
        }
      }
    }
  }
}