@import 'base.scss';

div.main {

  display: grid;
  grid-template-rows: 2fr auto 1fr auto 4fr;
  align-items: center;
  justify-items: center;

  & > p {
    grid-row: 2;

    color: white;
    max-width: 50ch;
    text-align: center;

    font-size: large;

    margin: 3rem 7rem;

    position: relative;

    &:before, &:after {
      content:"";
      width: 4rem;
      height: 2px;
      position: absolute;
      top: 50%;
      background-color: white;
    }
    &:before {
      left: -5rem;
    }
    &::after {
      right: -5rem;
    }
  }

  & > div {
    grid-row: 4;

    width: 100%;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-evenly;

    gap: 5%;
    padding: 0 5%;

    & > div {
      max-width: 40ch;

      background-color: white;
      border-radius: 0.3rem;
      padding: 2rem 1rem;
      display: grid;
      grid-template-rows: auto 1fr auto auto;
      gap: 2rem;

      h1 {
        color: $red;
        text-align: center;
      }

      p {
        text-align: justify;
        color: $dark;
        font-size: smaller;
      }

      ul {
        list-style-type: none;

        li {
          padding-left: 1rem;
          position: relative;
          margin-bottom: 0.2rem;

          &:before {
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            color: inherit;
          }
        }

        li.available {
          color: $green;
          &:before {
            content: "✓";
          }
        }

        li.unavailable {
          color: $red;
          &:before {
            content: "✗";
          }
        }
      }

      button {
        font-size: large;
        text-transform: uppercase;
        background-color: $blue;
        color: white;
        cursor: pointer;
        transition: 0.2s ease-in-out;

        &:hover {
          background-color: $red;
        }
      }
    }
  }
}