@charset "UTF-8";
* {
  font-family: "Trebuchet MS", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: #253145;
}

html,
body,
div.body {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

div.body {
  overflow-y: auto;
  position: relative;
  display: grid;
  grid-template-rows: auto 1fr auto;
  background-color: #253145;
}

a.text {
  color: inherit;
  text-decoration: inherit;
}

header {
  height: 6rem;
  overflow-y: visible;
  z-index: 10;
  background-color: #35a2cb;
  display: grid;
  color: white;
  -moz-column-gap: 2rem;
       column-gap: 2rem;
}
header > div {
  background-color: #35a2cb;
}
@media (min-width: 823px) {
  header {
    grid-template-columns: auto 1fr auto;
    align-items: center;
  }
}
@media (max-width: 823px) {
  header {
    grid-template-rows: auto auto auto;
    grid-template-columns: auto 1fr;
    justify-items: start;
  }
}
@media (max-width: 823px) {
  header #navbar-hamburger:checked ~ div.navbar {
    display: none;
  }
  header #navbar-hamburger:checked ~ div.logged-user {
    display: none;
  }
}
header > a {
  margin-left: 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}
header > a img {
  height: 4rem;
  margin: 1rem 0 1rem 0;
}
header label.navbar-hamburger {
  display: none;
}
@media (max-width: 823px) {
  header label.navbar-hamburger {
    display: block;
    justify-self: end;
    align-self: center;
    margin-right: 2rem;
    width: 2rem;
    height: 2rem;
    display: flex;
    align-items: center;
  }
  header label.navbar-hamburger span {
    background-color: #253145;
    height: 2px;
    width: 100%;
    position: relative;
  }
  header label.navbar-hamburger span::before, header label.navbar-hamburger span::after {
    content: "";
    height: 2px;
    position: absolute;
    left: 0;
    right: 0;
    background-color: #253145;
  }
  header label.navbar-hamburger span::before {
    top: -0.5rem;
  }
  header label.navbar-hamburger span::after {
    bottom: -0.5rem;
  }
}
header div.logged-user {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-right: 2rem;
}
@media (max-width: 823px) {
  header div.logged-user {
    padding: 4rem 0;
    grid-column: 1/3;
    padding-right: 0;
  }
}
header div.logged-user span.username {
  font-weight: bold;
}
header div.navbar {
  height: 100%;
}
@media (max-width: 823px) {
  header div.navbar {
    width: 100%;
    grid-column: 1/3;
  }
}
header div.navbar ul {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  list-style-type: none;
}
@media (max-width: 823px) {
  header div.navbar ul {
    flex-flow: column;
    justify-content: stretch;
    width: 100%;
  }
}
header div.navbar ul li {
  font-weight: bold;
  height: 100%;
  transition: 0.2s ease-in-out;
}
@media (max-width: 823px) {
  header div.navbar ul li {
    width: 100%;
  }
}
header div.navbar ul li a {
  height: 100%;
  width: 100%;
  padding: 0 0.5rem 0 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}
@media (max-width: 823px) {
  header div.navbar ul li a {
    padding: 2rem 0;
  }
}
header div.navbar ul li:hover {
  background-color: rgba(37, 49, 69, 0.1);
}

footer {
  background-color: #35a2cb;
  display: flex;
  flex-direction: column;
  align-items: right;
  padding: 1rem;
}
footer * {
  color: white;
  text-align: center;
}

button {
  padding: 1em;
  border: none;
  background: none;
  border-radius: 0.3em;
}

h1.normal {
  margin: 1.5em 0 0.5em 0;
  color: white;
  position: relative;
  text-transform: uppercase;
  font-size: 3rem;
  text-align: center;
  display: inline-block;
}

h1.underline:after {
  content: "";
  position: absolute;
  left: -1em;
  right: -1em;
  bottom: -0.2em;
  height: 0.1em;
  background-color: #ff4754;
}

h2.normal {
  margin: 0.8em 0 0.2em 0;
  color: white;
  position: relative;
  text-transform: capitalize;
  font-size: 2rem;
  text-align: center;
  display: table;
}

h2.lined:before, h2.lined:after {
  content: "";
  position: absolute;
  top: 50%;
  height: 0.1em;
  width: 100rem;
  background-color: white;
}
h2.lined:before {
  left: -102rem;
}
h2.lined:after {
  right: -102rem;
}

p.normal {
  color: #35a2cb;
  text-align: justify;
  max-width: 120ch;
}

div.main {
  display: grid;
  grid-template-rows: 2fr auto 1fr auto 4fr;
  align-items: center;
  justify-items: center;
}
div.main > p {
  grid-row: 2;
  color: white;
  max-width: 50ch;
  text-align: center;
  font-size: large;
  margin: 3rem 7rem;
  position: relative;
}
div.main > p:before, div.main > p:after {
  content: "";
  width: 4rem;
  height: 2px;
  position: absolute;
  top: 50%;
  background-color: white;
}
div.main > p:before {
  left: -5rem;
}
div.main > p::after {
  right: -5rem;
}
div.main > div {
  grid-row: 4;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-evenly;
  gap: 5%;
  padding: 0 5%;
}
div.main > div > div {
  max-width: 40ch;
  background-color: white;
  border-radius: 0.3rem;
  padding: 2rem 1rem;
  display: grid;
  grid-template-rows: auto 1fr auto auto;
  gap: 2rem;
}
div.main > div > div h1 {
  color: #ff4754;
  text-align: center;
}
div.main > div > div p {
  text-align: justify;
  color: #253145;
  font-size: smaller;
}
div.main > div > div ul {
  list-style-type: none;
}
div.main > div > div ul li {
  padding-left: 1rem;
  position: relative;
  margin-bottom: 0.2rem;
}
div.main > div > div ul li:before {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  color: inherit;
}
div.main > div > div ul li.available {
  color: #51cb20;
}
div.main > div > div ul li.available:before {
  content: "✓";
}
div.main > div > div ul li.unavailable {
  color: #ff4754;
}
div.main > div > div ul li.unavailable:before {
  content: "✗";
}
div.main > div > div button {
  font-size: large;
  text-transform: uppercase;
  background-color: #35a2cb;
  color: white;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}
div.main > div > div button:hover {
  background-color: #ff4754;
}/*# sourceMappingURL=pricing.css.map */